@font-face {
  font-family: 'poppins-regular';
  src: url('../../public/fonts/Poppins-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'poppins-bold';
  src: url('../../public/fonts/Poppins-Bold.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'poppins-extra-bold';
  src: url('../../public/fonts/Poppins-ExtraBold.woff2') format('woff2');
  font-style: normal;
}