---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import Navbar from '../components/Navbar.astro'
---

<Layout>
	<main>
		<Navbar/>
		<HeroSection/>
		<ExperienceSection/>
		<ExperienceSection/>
	</main>
</Layout>
