---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro';
---

<Layout>
	<main>
		<Navbar/>
		<HeroSection/>
		<ProjectsSection/>
	</main>
</Layout>