<button>
    <slot/>
</button>



<style>
    button {
        background-color: #342D2D;
        border: gray solid 1px;
        color: white;
        width: 50%;
        height: 100%;
        border-radius: 10px;
        cursor: pointer;
        font-size: larger;
    }

    button:hover {
        background-color: #585151;
    }

</style>