---
import Button from "./Button.astro";
import { getCollection } from "astro:content";

const info = await getCollection('data')
const { alias } = info[0].data
---

<div id="hero">
  <div id="about">
    <h2>Hey, soy {alias}</h2>
    <h1>Full Stack Developer</h1>
  </div>

  <span>
    <Button href={"mailto:juancaram21@gmail.com"} icon={"icons/email.svg"}>
      Contáctame</Button>
    <Button href={"https://bit.ly/jucarata-linkedin"} icon={"icons/linkedin.svg"}>
      LinkedIn</Button>
  </span>
</div>

<style>

  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  #hero {
    background-color: white;
    width: 100%;
    max-width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }

  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  span {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  h1 {
    color: #d8304f;
    font-size: 4rem;
    margin: 0;
    font-weight: bolder;
    text-align: center;
  }

  h2 {
    color: #210699;
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
    text-align: center;
  }

  @media (min-width: 768px) {
    #hero {
      padding-top: 6rem;
    }
  
    span {
      flex-direction: row;
      width: auto;
      gap: 3rem;
    }
  
    h1 {
      font-size: 6rem;
    }
  
    h2 {
      font-size: 2.5rem;
    }
  }
</style>