---
import Button from "./Button.astro";
import { getCollection } from "astro:content";

const info = await getCollection('data')
const {alias} = info[0].data
---

<div id="hero">
    <div id="about">
        <h2>Hey, I'm {alias}</h2>
        <h1>Full Stack Developer</h1>
    </div>

    <span>
        <Button href={"mailto:juancaram21@gmail.com"}>Let's connect</Button>
        <Button href={"https://bit.ly/JCRamirezLinkedin"}>LinkedIn</Button>
    </span>
</div>

<style>
    #hero {
        background-color: white;
        width: auto;
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    #about {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 10rex;
    }

    span {
        display: flex;
        height: 8%;
        width: 30%;
        gap: 4rem;
    }

    h1 {
        color: #d8304f;
        font-size: 10rex;
        margin: 0;
        font-weight: bolder;
    }

    h2 {
        color: #210699;
        font-size: 6rex;
        margin: 0;
        font-weight: bold;
        border: 0;
    }
</style>