<nav>
    <span>
    </span>
    <span>
        <ul>
            <a href=""><li>About me</li></a>
            <a href=""><li>Experience</li></a>
            <a href=""><li>Projects</li></a>
            <a href=""><li>Contact</li></a>
        </ul>
    </span>
</nav>

<style>
    nav {
        background-color: white;
        color: #210699;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 21;
        width: 100%;
        position: fixed;
    }

    span {
        padding-right: 5%;
    }

    ul{
        display: flex;
        list-style-type: none;
        gap: 4rem;
    }

    a {
        text-decoration: none;
    }
</style>