<nav class="nav-menu">
    <span>
    </span>
    <span class="menu">
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="#projects-section">Proyectos</a></li>
            <li><a href="">Certificaciones</a></li>
        </ul>
    </span>
    <span class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </span>
</nav>

<style>
    nav.nav-menu {
        background-color: white;
        color: #210699;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 21;
        width: 100%;
        position: fixed;
        padding-right: 5%;
    }

    nav.nav-menu span {
        padding-right: 5%;
    }

    .menu ul {
        display: flex;
        list-style-type: none;
        gap: 4rem;
    }

    a {
        text-decoration: none;
    }
    
    .hamburger {
        display: none;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #210699;
    }

    @media (max-width: 768px) {
        .menu {
            position: absolute;
            top: 60px;
            right: 5%;
            background-color: white;
            padding: 1rem;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            display: none;
            width: 50%;
            text-align: center;
        }

        .menu.active {
            display: block;
        }

        .menu ul {
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .hamburger {
            display: flex;
            margin-top: 10px;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const hamburger = document.querySelector('.hamburger');
        const menu = document.querySelector('.menu');
        hamburger?.addEventListener("click", () => {
            menu?.classList.toggle('active');
        });
    });
</script>