---
type TimeLineProps = {
    isCurrent?: boolean;
}

const { isCurrent }: TimeLineProps = Astro.props;

let styles: string = isCurrent ? "background-color: white;" : "background-color: #d8304f;";
---

<div class="timeline">
    <div class="line"></div>
    <div class="circle">
        <div class="circle" style={`${styles} width: 70%; height: 70%;`}></div>
    </div>
    <div class="line" style="height: 60px;"></div>
</div>

<style>
    .timeline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .line {
        height: 30px;
        width: 6px;
        background-color: #342D2D;
    }

    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #d8304f;
    }
</style>