---
type TimeLineProps = {
  isCurrent?: boolean;
}
const { isCurrent } = Astro.props as TimeLineProps;
let styles: string = isCurrent ? "background-color: white;" : "background-color: #d8304f;";
---

<div class="timeline">
  <div class="line top"></div>
  <div class="circle">
    <div class="circle-inner" style={`${styles} width: 70%; height: 70%;`}></div>
  </div>
  <div class="line bottom"></div>
</div>

<style>
  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .line.top {
    width: 6px;
    background-color: #342D2D;
    flex: 0 0 30%;
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d8304f;
  }

  .circle-inner {
    border-radius: 50%;
  }

  .line.bottom {
    width: 6px;
    background-color: #342D2D;
    flex: 1;
  }

  @media (max-width: 600px) {
    .circle {
      width: 50px;
      height: 50px;
    }
    .line.top,
    .line.bottom {
      width: 4px;
    }
  }
</style>